<nav class="navbar">
  <h1><a href="/" class="no-link">WEB</a></h1>
  <div class="wrapper__search" id="wrapperSearch">
    <input class="input__search" type="search" name="" id="searchInput" />
    <button class="btn__search" type="button" data-btn="search">
      <i data-btn="search" class="fa-solid fa-magnifying-glass"></i>
    </button>
    <div class="search__result__cont" id="searchResultCont"></div>
  </div>
  <button class="btn__hamburger" data-btn="hamburger"><i class="fa-solid fa-bars" data-btn="hamburger"></i></button>
  <div class="navbar__items" id="navbarItems">
    {{#if loged}}
      <a href="/user" class="btn btn__1 navbar__item">Perfil</a>
    {{/if}}
    <a href="/products" class="btn btn__1 navbar__item">Productos</a>
    {{#if loged}}
      <a href="/auth/logut" class="btn btn__logout navbar__item">Cerrar Sesion</a>
    {{/if}}

    {{#unless loged}}
      <a href="/login" class="btn btn__send navbar__item">Login</a>
      <a href="/register" class="btn btn__border navbar__item">Registrate</a>
    {{/unless}}

  </div>

</nav>
