<section class="container h-100minvh d-flex flex-aling-center flex-jus-center">
  <form method="post">
    <div class="card">
      <div class="card__step">
        <span>Login</span>
      </div>
      <div class="card__data">
        <label class="card__label" for="">Usuario</label>
        <input class="card__input" id="user" type="text" placeholder="Usuario" />
        <label class="card__label" for="">Contraseña</label>
        <input class="card__input" id="pass" type="text" placeholder="12345678" />
      </div>
      <div class="card__btn flex-jus-end">
        <button class="btn btn__send" type="button" id="login">Login</button>
      </div>
      <small>¿No estas Registrado?
        <a href="/register">Registrate</a></small>
    </div>
  </form>
</section>

<script src="/js/auth/login.js" type="module"></script>